#login-container {
  width: 75%;
}

input[type="submit"] {
  padding: 0.8rem 4rem;
}

input[type="submit"]:hover {
  color: #ffffff;
  background: tomato;
}

@media only screen and (min-width: 900px) {
  #login-container {
    width: 50%;
  }
}
